/**
 *
 *  Theme Name: Default Theme
 *	Theme URI: https://carlo-fontanos@bitbucket.org/carlo-fontanos/default-wordpress-template.git
 *  Author: Carl Victor C. Fontanos
 *  Author URI: http://www.carlofontanos.com/
 *  Version: 99
 *	License: GNU General Public License v2 or later
 *	License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *	Tags: gray, white, light, responsive-layout, accessibility-ready, custom-menu
 *	Text Domain: cvftheme
 *	Description: A foundation for building WordPress Themes
 * 
 */

body { }
.header-wrapper { }
.banner-wrapper { }
.front-page-wrapper, section.inner-page-wrapper { }
.footer-wrapper { background: #343a40;  }

.banner { min-height: 200px; background: #eee; }

.content { padding: 20px; }

.footer { min-height: 150px; color: #fff; padding: 20px; }


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480x) {

}